/*
 *This Source Code Form is subject to the terms of the Mozilla Public
 *License, v. 2.0. If a copy of the MPL was not distributed with this
 *file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

body {
	padding: 10px;
}

form * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	position: fixed;
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 20px;
}

form input {
	width: 90%;
	/*background: #23272A;*/
	background:#002b03;
	border: 1px solid transparent;
	border-radius: 5px;
	color: white;
	font-family: inherit;
	padding: 10px;
	margin-left: 0;
	margin-right: 1%;
	display: inline-block;
}

form button {
	width: 7%;
	/*background: #23272A;*/
	backgound:#002b03;
	border:1px solid transparent;
	border-radius: 5px;
	color: white;
	font-family: inherit;
	padding: 10px;
	display: inline-block;
}

form button:hover {
	cursor: pointer;
	/*background: #171a1c;*/
	background:rgba(0,0,0,0.2)
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 10px 20px 5px;
	background:#001902;
}

img.avatarChat {
	border-radius: 100%;
	display: inline-block;
	width: 50px;
	padding: 5px;
}

.msg {
	padding-top: 10px;
}

.display {
	padding: 5px 5px 0 5px;
	font-size: 1.3em;
}

#messages li:nth-child(even) {
	background: rgba(0,25,2,0.6)
}

#messages li:nth-child(odd) {
	/*background:#001902;*/
}

#chat {
	height: 80vh;
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	border: 1px solid black;
	border-radius: 10px;
}

#chat img:not(.avatarChat) {
	max-width: 90%;
	max-height: 60vh;
	border-radius: 0;
}

.timestamp {
	float: right;
}

@media screen and (max-width: 700px) {
	form button {
		display: none;
	}
	form input {
		width: 90%;
	}
	div#chat {
		height: 80vh
	}
}

@media screen and (min-height: 1000px) {
	@media screen and (max-width: 850px) {
		div#chat {
			height: 88vh;
		}
	}
}