doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='../default.css')
		title PulseRoot Signup
		meta(name='viewport' content='width=device-width initial-scale=1.0')
		script(src='/functions.js' type='text/javascript')
	body
		nav
			ul.navbar
			
				li.mobileNavOpen
					a(onclick='showMobileNav()') PulseRoot
	
				li.logotitle
	
					a(href='/') PulseRoot
	
				li.gc
	
					a(href='/gc') Global Chat
	
				li.dropdown
	
					a.dropbtn(href='javascript:void(0)') Info
	
					.dropdown-content
						a(href='/contact.html') Contact Me
						a(href='/privacy.html') Privacy Policy
						a(href='/tac.html') Terms & Conditions
						
		<!-- Navbar for mobile users -->
		div.mobileNavMenu#mobileMenu
			a(class="closeNavBtn" onclick="closeMobileNav()") &times;
			div.mobileNavItems
				a(style="font-size: 30px; color: darkgreen;")
					b PulseRoot
				a &nbsp;
				a(href='/index.html') Home
				a(href='/gc') Global Chat
				a(href='/info.html') Legal/Tech Info

		main
			h1 PulseRoot Signup
			h2 Secure a username so nobody else can take it.
	
			hr
			if(message)
				h4
				span(style="color:red") #{message}
			div.rightInfo
				h3 Why should I secure a username?
				p If you go by a certain name on the internet (for example, I go by Smartie), you may want to secure a username so nobody can impersonate you.
				h3 No email verification?
				p No... not yet! I'll implement it when I can get the code running on a 24/7 dedicated server.
				h3 Any other reason I should secure a name?
				p Yes! 
					a(href="./reasons.html") Here is why.
				h3 Where is all of this stored?
				p In a database! Your details are sent straight to it.
				h3 In plain text?!?
				p For the username and display name? Yes. For the password? Haha, no. The password is encrypted before it's saved. Yay for crypto-security!
				hr.horizRuleMobile
			form(action="/signup" method="POST")
				h3 Username*
				input(name="username" required type="text" placeholder="Username")
				h3 Password*
				input(name="password" required type="password" placeholder="Password")
				h3 Display Name
				input(name="display" type="text" placeholder="Display Name")
				br
				br
				label.container(for="signupCheck") I have read the 
					a(href="/privacy.html") PulseRoot Privacy Policy
					|  and the 
					a(href="/tac.html") PulseRoot Terms &amp; Conditions
					input(type="checkbox" name="readPT" value="yes" id="signupCheck")
					span.checkmark
				br
				button(type="Submit" style="display:block") Save Profile
